.p-0 {
    padding: 0;
}

.p-3 {
    padding: 1.5rem;
}

.p-4 {
    padding: 2.0rem;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pr-1 {
    padding-right: 0.25rem;
}

.px-4 {
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}