html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

.bg-dark {
  background-color: #1C1C1C;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 108rem;
}

.d-flex {
  display: flex;
}

.form-control {
  border: 0.1rem solid #909090;
  border-radius: 0.5rem;
  padding: 0.75rem;
  width: 100%;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.my-auto {
  margin: auto 0;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.space-between {
  justify-content: space-between;
}

.shadow-bottom {
  box-shadow: 0.1rem 0.6rem 1.6rem -0.6rem rgba(28, 28, 28, 0.75);
  -webkit-box-shadow: 0.1rem 0.6rem 1.6rem -0.6rem rgba(28, 28, 28, 0.75);
  -moz-box-shadow: 0.1rem 0.6rem 1.6rem -0.6rem rgba(28, 28, 28, 0.75);
}

.rounded-left {
  border-radius: 0.5rem 0 0 0.5rem;
}

.rounded-right {
  border-radius: 0 0.5rem 0.5rem 0;
}

.rounded-0 {
  border-radius: 0 0 0 0;
}