@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('@/styles/components/input.css');
@import url('@/styles/components/buttons.css');
@import url('@/styles/components/table.css');
@import url('@/styles/utils/size.css');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply text-white	hover:text-white visited:text-white	
}

a.secondary {
  @apply !text-black hover:!text-gray-600 	  
}